<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <%= require('raw-loader!../../assets/templates/additionalHead.html') %>

    <% if (htmlWebpackPlugin.options.nodeEnv === 'production') { %>
    <% for (var i = 0, length = htmlWebpackPlugin.files.css.length; i < length; i++) { %>
    <link type="text/css" rel="stylesheet" <%= require('../../assets/javascripts/randomPrefixer')('css', htmlWebpackPlugin.files.css[i]) %>>
    <% } %>
    <% } %>

</head>
<body>

<%= htmlWebpackPlugin.files.webpackManifest %>

<%= require('raw-loader!../../assets/templates/additionalBody.html') %>

<div id="app"></div>

<% if (htmlWebpackPlugin.options.nodeEnv === 'production') { %>
<% for (i = 0, length = htmlWebpackPlugin.files.js.length; i < length; i++) { %>
<script type="text/javascript" <%= require('../../assets/javascripts/randomPrefixer')('js', htmlWebpackPlugin.files.js[i]) %>></script>
<% } %>
<% } %>

</body>
</html>